.zelda-endurance-inner {
  border: 9px solid #03ee54;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.zelda-endurance-outter {
  border: 4px solid #03ee54;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  top: -5px;
  left: -5px;
}
